.item{
	padding:20px;
	background:#25273c;
	display:flex;
	border-bottom:1px solid #555;
}

.item-check{
	width:25px;
	height:25px;
	padding:0;
	border:none;
	background:none;
	margin:0;
}

.item-text{
	width:100%;
	height:25px;
	padding:0;
	border:0;
	background:none;
	margin-left:10px;
	color:#fff;
	font-family: 'Cafe24SsurroundAir', sans-serif;
	line-height:25px;
}

.item-del{
	width:25px;
	height:25px;
	padding:0;
	border:none;
	background:none;
}

.item-image{
	width:25px;
	height:25px;
	transform:rotate(45deg);
}